<div class="concert-page">
  <h2>{{ site.data.concerts[include.semester].theme }}</h2>

  <img
    class="banner"
    alt="Concert Banner"
    src="{{ '/assets/img/concerts/' | append: include.semester | append: '.png' | relative_url }}"
  >

  <hr>

  <h2>Acts</h2>

  <div class="concert-table-wrap">
    <table class="concert-table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Original Artist(s)</th>
          <th>Act Lead(s)</th>
          <th>Performers</th>
          <th>Description</th>
          <th>Video</th>
        </tr>
      </thead>

      <tbody>
        {% for act in site.data.concerts[include.semester].acts %}
          <tr>
            <td>{{ act.title }}</td>
            <td>{{ act.artists }}</td>
            <td>{{ act.leads }}</td>
            <td>{{ act.performers }}</td>
            <td>{{ act.description }}</td>
            <td><a href="{{ act.video }}">Link</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>